:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.screen-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.json-editor-wrapper {
  resize: horizontal;
  overflow: auto;
  width: 300px;
  min-width: 100px;
  max-width: 500px;
  border: 1px solid black;
  padding: 10px;
}

.json-editor {
  margin-top: 10px;
  min-height: 90%;
  max-height: 90vh;
  overflow: auto;
  border: 1px solid #333;
  padding: 10px;
  outline: none;
}

.playground {
  flex: 1;
  height: 100%;
}

.playground-info-wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid blues;
  top: 20px;
  right: 10%;
  z-index: 10;
  width: 250px;
  padding: 5px;
}

.playground-info-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-left: 10px;
  height: 100%;
}

.playground-info-item {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.bg-for-start {
  background-color: red;
}

.bg-for-end {
  background-color: #1a192b;
}

.node-wrapper {
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5;
  color: #333;
  background: #fff;
  min-width: 100px;
  text-align: center;
}

.node-wrapper:hover {
  .delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.node-actions {
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.delete-button {
  display: none;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
}

.node-editor-sidebar {
  position: absolute;
  width: 400px;
  height: 100vh;
  right: 0;
  top: 0;
  background-color: #333;
  border-left: 1px solid #333;
  padding: 20px;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.node-editor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.node-editor-error-message {
  color: red;
}
